<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <link rel="stylesheet" href="/dashbord_css.css">
    <title>Dashbord</title>
  </head>
  <body class="bg-light">
     <nav class="navbar sticky-top bg-white shadow-sm">
       <div class="row  mx-auto" style="width:100%">
         <div class="col ">
           <a href="#home" class="navbar-brand ml-0 ml-md-3 mx-auto">
            <img src="/fnlg.png">
            <small>(Asynchronous versatility)</small>
           </a>
         </div>
         <div class="col-6 col-md mt-2 ml-0 ml-md-5">
           <form class="form-inline">
             <div class="input-group" style="width:400px;">
               <div class="input-group-prepend mt-2 mr-2" style="font-size:1.4rem;">
                 <i class="fas fa-search text-muted"></i>
               </div>
               <input class="form-control" style="border:none;" type="search" name="search" placeholder="search...">
             </div>
           </form>
         </div>
         <div class="col text-right mt-2">
            <a href="#" style="font-size: 1.5rem;"><span class="far fa-bell"></span></a>
         </div>
         <div class="col ml-5 mt-2">
           <div class="dropdown dropleft">
             <img class="dropdown-toggle rounded-circle" style="width:40px;heigth:40px;" src="/lgos.png" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
               <a class="dropdown-item" href="/dashbord">Dashbord</a>
               <a class="dropdown-item" href="/profile">Profile Setting</a>
               <a class="dropdown-item" href="/logout">Logout</a>
            </div>
          </div>
         </div>
       </div>
     </nav>
     <div class="row mt-5" style="max-width:100%;">
       <div class="col-6 col-md-3">
         <div class="list-group" id="list-tab" role="tablist" style="border-right:1px solid #e6e6e6;">
           <p class="list-group-item text-muted"><b>Menu</b></p>
           <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Home</a>
           <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Profile</a>
           <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Friends</a>
           <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-discussion" role="tab" aria-controls="discussion">Discusion</a>
           <a class="list-group-item list-group-item-action" id="list-events-list" data-toggle="list" href="#list-events" role="tab" aria-controls="events">Events</a>
           <a class="list-group-item list-group-item-action" id="list-images-list" data-toggle="list" href="#list-images" role="tab" aria-controls="images">Images</a>
           <a class="list-group-item list-group-item-action" id="list-videos-list" data-toggle="list" href="#list-videos" role="tab" aria-controls="events">Videos</a>
         </div>
         <div class="list-group" style="border-right:1px solid #e6e6e6;">
           <p class="list-group-item text-muted"><b>Your favourite</b></p>
           <p class="list-group-item ">Html</p>
           <p class="list-group-item ">Coding</p>
           <p class="list-group-item ">Watching Tv</p>
         </div>
       </div>
       <div class="col-12 col-md md-0 ml-md-5">
         <div class="tab-content" id="nav-tabContent">
           <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
             <div class="jumbotron" style="max-width:100%;">
               <h1 class="display-5">Hello <%= user.username %></h1>
               <h1 class="display-3">what do you want to do ??</h1>
               <p class="lead mt-5" id="project">Work on a Project?</p>
               <p class="lead" id="events">Add Events?</p>
               <p class="lead" id="discuss">Discusion?</p>
               <p class="lead" id="chat">Chat with Friends?</p>
               <p class="lead" id="gameroom">GameRoom?</p>
               <p class="lead" id="media">Watch photos/videos?</p>
             </div>
           </div>
           <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
             <% if(user.coverphoto.url != 'no link'){ %>
               <div class="container-fluid" id="cover" style="background-image: url('/dashbord/image/<%= user.coverphoto.url %>');">
             <% } else { %>
               <div class="container-fluid" id="cover" style="background-image: url('/back1.jpg');">
             <% } %>
             </div>
             <% if(user.profilepick.url != 'no link'){ %>
               <img src="/dashbord/profilepick/<%= user.profilepick.url %>" class="rounded-circle" style="width:200px;height:200px;" id="cover_image">
             <% } else { %>
               <img src="/lgos.png" class="rounded-circle" style="width:100px;height:100px;" id="cover_image">
             <% } %>
             <div class="row mt-5 mt-0">
               <div class="col-12 col-md-3 mt-0 mt-md-5 pt-3 text-center">
                 <h3><%= user.username %></h3>
                 <p class="text-muted mb-0">I am a <%= user.about.achivements %></p>
                 <p class="text-muted mt-0"><%= user.email %></p>
                 <hr class="mx-5 mx-md-0">
                 <p class="text-muted px-5 px-md-0">Hi my name is <%= user.username %> i  am  a <%= user.about.achivements %> i love doing <%= user.about.hobbies %> learn more about me in about</p>
               </div>
               <div class="col-9 mt-3">
                 <div class="row">
                   <div class="col-12 col-md">
                     <ul class="nav ml-5  ml-md-0  w-100 justify-content-center nav-pills mb-3" id="pills-tab" role="tablist">
                       <li class="nav-item pl-5 pl-md-0">
                         <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Images</a>
                       </li>
                       <li class="nav-item ml-3 ml-md-5">
                         <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Videos</a>
                       </li>
                       <li class="nav-item ml-3 ml-md-5">
                         <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">About</a>
                       </li>
                     </ul>
                     <div class="tab-content" id="pills-tabContent">
                       <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                         <div class="row" style="max-width:100%;">
                           <% if(user.images.length > 0){ %>
                          <%   user.images.forEach((image,index)=>{ %>
                            <div class="col-12 col-md-6 mt-4" id="user_images">
                              <img class="mx-4 px-5 mx-md-0 px-md-0" src="/dashbord/profile/images/<%= image.filename %>" data-toggle="modal" data-target="#<%= 'profile_images' + index %>">
                              <div class="modal fade" id="<%= 'profile_images' + index %>" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content" id="image_model" style="object-fit:contain">
                                    <div class="modal-body">
                                       <img src="/dashbord/profile/images/<%= image.filename %>" id="user">
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          <% }) %>
                           <% } else { %>
                              <div class="col-12 text-center">
                                <h3>Nothing to display</h3>
                              </div>
                            <% } %>
                         </div>
                       </div>
                       <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                        <!-- <video src="video_test.mp4" style="width:300px;height:300px;" data-toggle="modal" data-target="video_modal">
                        </video> -->
                        in development...
                       </div>
                       <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                           user bio data which he would like to share
                       </div>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
           </div>
           <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">...</div>
           <div class="tab-pane fade" id="list-discussion" role="tabpanel" aria-labelledby="list-discussion-list">...</div>
           <div class="tab-pane fade" id="list-events" role="tabpanel" aria-labelledby="list-events-list">...</div>
           <div class="tab-pane fade" id="list-images" role="tabpanel" aria-labelledby="list-images-list">
             <div class="container">
               <h1 class="display-4">Welcome <%= user.username %></h1>
               <h1 class="display-4 text-muted">Your Image Galary</h1>
               <div class="row">
                 <div class="col-md-6">
                   <h1 class="mt-5">cover Image:</h1>
                   <div class="container">
                     <% if(user.coverphoto.url != 'no link'){ %>
                       <img src="/dashbord/image/<%= user.coverphoto.url %>" class="mt-3" style="width:100%;height:70%;">
                     <% } else {  %>
                      <img src="back1.jpg" class="mt-3" style="width:50%;height:40%;">
                     <% } %>
                     <form class="mt-2" action="/post/image" enctype="multipart/form-data" method="post" style="width:50%;">
                       <input type="file" name="user_cover" style="width:100%;"><br>
                       <button type="submit" class="btn btn-primary mt-2" id="change_cover_image">Change</button>
                     </form>
                   </div>
                 </div>
                 <div class="col-md-5">
                   <h1 class="mt-5">profile Image</h1>
                   <div class="container">
                     <% if(user.profilepick.url != 'no link'){ %>
                       <img src="/dashbord/profilepick/<%= user.profilepick.url %>" alt="wtf" class="mt-3" style="width:60%;height:50%;">
                     <% } else {  %>
                      <img src="lgos.png" class="mt-3" alt="this one" class="mt-3"style="width:60%;height:50%;">
                     <% } %>
                     <form class="mt-2" action="/post/profilepick" enctype="multipart/form-data" method="post" style="width:50%;">
                       <input type="file" name="user_cover"><br>
                       <button type="submit" class="btn btn-primary mt-2" id="change_cover_image">Change</button>
                     </form>
                   </div>
                 </div>
               </div>
               <h1>Beautiful Moments</h1>
               <form class="mt-5" action="/dashbord/profile/images" method="post" enctype="multipart/form-data">
                 <input id="profile_images" type="file" name="profile_images" multiple><br>
                 <button type="submit" class="btn btn-primary mt-2" name="button">Upload more photos</button>
               </form>
               <div class="row mt-2">
                 <% if(user.images.length > 0){ %>
                <%   user.images.forEach((image)=>{ %>
                      <div class="col-md-6 mt-5">
                        <img src="/dashbord/profile/images/<%= image.filename %>" style="width:100%;height:100%;">
                        <form action="/dashbord/profile/images/<%= image.filename %>?_method=DELETE" method="post">
                          <button type="submit" name="button" class="btn btn-outline-danger btn-block">Delete</button>
                        </form>
                      </div>
                    <% }); %>
                 <% } %>
               </div>
             </div>
           </div>
           <div class="tab-pane fade" id="list-videos" role="tabpanel" aria-labelledby="list-videos-list">...</div>
         </div>
       </div>
     </div>
     <!-- <div class="modal fade" id="video_modal" tabindex="-1" role="dialog" aria-hidden="true">
       <div class="modal-dialog" role="document">
         <div class="modal-content">
           <div class="modal-body">
             <video src="video_test.mp4" autoplay controls>
             </video>
           </div>
         </div>
       </div>
     </div> -->
     <script src="/dashbord_java.js">
     </script>
  </body>
</html>
